In [ ]:
import babypandas as bpd
import numpy as np

# Lecture 6 ‚Äì  More Querying and GroupBy
## DSC 10, Spring 2022

### Announcements

- Lab 2 is due **tomorrow at 11:59pm**.
- Homework 2 is due on **Tuesday 4/12 at 11:59pm**.

### Agenda

- Recap: queries.
- Writing queries with multiple conditions.
- GroupBy.
- Challenge problems.

**Resources**: 
- [Resources tab of the course website](https://dsc10.com/resources/)
- [DSC 10 Reference Sheet](https://drive.google.com/file/d/1mQApk9Ovdi-QVqMgnNcq5dZcWucUKoG-/view)
- [BabyPandas Documentation](https://babypandas.readthedocs.io/en/latest/index.html)

## Recap: queries

### Recap: queries

- A "query" is code that extracts rows from a table for which certain condition(s) are true.
- Below we load in our NBA salaries üèÄ dataset from last time.

In [ ]:
salaries = bpd.read_csv('data/nba-2022.csv').set_index('Player')
salaries

### Question: Who is the highest-paid player on the Houston Rockets? üöÄ

In [ ]:
salaries.get('Team') == 'Houston Rockets'

In [ ]:
rockets = ...
rockets

In [ ]:
# Find highest-paid player
...

### Boolean indexing

To select only some rows of `salaries`:

1. Make a sequence (list/array/Series) of `True`s (keep) and `False`s (toss).
    - The values `True` and `False` are of the _Boolean_ data type.
2. Then pass it into `salaries[sequence_goes_here]`.

Rather than making the sequence by hand, we usually generate it by making a comparison.

### Elementwise comparisons

There are several types of comparisons we can make.

|symbol|meaning|
|--------|--------|
|`==` |equal to |
|`!=` |not equal to |
|`<`|less than|
|`<=`|less than or equal to|
|`>`|greater than|
|`>=`|greater than or equal to|

In [ ]:
# Find all players whose salary is at least 20 million
...

## Queries with multiple conditions

### Multiple conditions

- To do a query with multiple conditions, use `&` for "and" and `|` for "or".
- **Must use parentheses around each query.**
- Note: Don't use the Python keywords `and` and `or` here! They do not behave as you'd want.
    - Read the course notes for an explanation.

In [ ]:
# Find all players who are guards (point guards or shooting guards)
salaries[(salaries.get('Position') == 'PG') | (salaries.get('Position') == 'SG')]

### The `&` and `|` operators work element-wise

In [ ]:
(salaries.get('Position') == 'PG')

In [ ]:
(salaries.get('Position') == 'SG')

In [ ]:
(salaries.get('Position') == 'PG') | (salaries.get('Position') == 'SG')

### Question: Which Power Forwards (PF) on the Sacramento Kings have a salary of over 8 million? üëë

In [ ]:
salaries[(salaries.get('Position') == 'PF') & 
         (salaries.get('Team') == 'Sacramento Kings') & 
         (salaries.get('Salary') > 8000000)]

### Discussion Question

Which query creates a DataFrame of all the centers (C) **besides** Dwight Howard?

A. `salaries[(salaries.get('Position') == 'C') & (salaries.get('Player') != 'Dwight Howard')]`

B. `salaries[(salaries.get('Position') == 'C') and (salaries.index != 'Dwight Howard')]`

C. `salaries[(salaries.get('Position') == 'C') & (salaries.index != 'Dwight Howard')]`

### To answer, go to **[menti.com](https://menti.com)** and enter the code **3917 8034** or [click here](https://www.menti.com/zzeansgf8g).

In [ ]:
...

## GroupBy: Split, Aggregate, Combine

### Question: Which team had the highest payroll?

- We can find the payroll for any one team.
    - For example, `salaries[salaries.get('Team') == 'Golden State Warriors'].get('Salary').sum()`.
- But how can we find the payroll for **all** teams at once?

In [ ]:
salaries

In [ ]:
salaries[salaries.get('Team') == 'Golden State Warriors'].get('Salary').sum()

In [ ]:
salaries[salaries.get('Team') == 'Los Angeles Lakers'].get('Salary').sum()

In [ ]:
salaries[salaries.get('Team') == 'Brooklyn Nets'].get('Salary').sum()

It seems like there has to be a better way. And there is!

### `.groupby`

Observe what happens when we use the `.groupby` method on `salaries` with the argument `'Team'`:

In [ ]:
salaries.groupby('Team').sum()

### An Illustrative Example: Pets üê± üê∂üêπ

Consider the DataFrame `pets` containing pet species, colors, and weights.

<div align=center>
<img src='images/pets.png' width=200>
</div>

üì¢ Shoutout to Kodah, Chilli, Fluffles, and Max.

In [ ]:
pets = bpd.DataFrame().assign(
    Species=['dog', 'cat', 'cat', 'dog', 'dog', 'hamster'],
    Color=['black', 'golden', 'black', 'white', 'golden', 'golden'],
    Weight=[40, 15, 20, 80, 25, 1]
)

pets

In [ ]:
pets.groupby('Species').mean()

### Visualizing `pets.groupby('Species').mean()`

- [Pandas Tutor](https://pandastutor.com/vis.html#code=import%20pandas%20as%20pd%0A%0Apets%20%3D%20pd.DataFrame%28%29.assign%28%0A%20%20%20%20Species%3D%5B'dog',%20'cat',%20'cat',%20'dog',%20'dog',%20'hamster'%5D,%0A%20%20%20%20Color%3D%5B'black',%20'golden',%20'black',%20'white',%20'golden',%20'golden'%5D,%0A%20%20%20%20Weight%3D%5B40,%2015,%2020,%2080,%2025,%201%5D%0A%29%0A%0Apets.groupby%28'Species'%29.mean%28%29&d=2022-04-06&lang=py&v=v1) is a great visualization tool to see what's happening under the hood
    - Uses `pandas` instead of `babypandas`
    - [Try it on our pet example!](https://pandastutor.com/vis.html#code=import%20pandas%20as%20pd%0A%0Apets%20%3D%20pd.DataFrame%28%29.assign%28%0A%20%20%20%20Species%3D%5B'dog',%20'cat',%20'cat',%20'dog',%20'dog',%20'hamster'%5D,%0A%20%20%20%20Color%3D%5B'black',%20'golden',%20'black',%20'white',%20'golden',%20'golden'%5D,%0A%20%20%20%20Weight%3D%5B40,%2015,%2020,%2080,%2025,%201%5D%0A%29%0A%0Apets.groupby%28'Species'%29.mean%28%29&d=2022-04-06&lang=py&v=v1)

- 3 steps for `.groupby`
    1. Split
    2. Aggregate
    3. Combine

### Back to the NBA... üèÄ

In [ ]:
salaries

In [ ]:
salaries.groupby('Team').sum()

### `.groupby` in general

1. Use `.groupby(column_name)` to gather rows which have the same value in the specified column (`column_name`).
    - In the previous example, we grouped by `'Team'`.
    - In the resulting DataFrame, there will be one row for every unique value of `'Team'`.
2. Apply an **aggregation** method **within** each group.
    - In the previous example, we applied the `sum` method to every `'Team'`.
    - The aggregation method is applied individually to each column.

Some aggregation methods: `.count()`, `.sum()`, `.mean()`, `.median()`, `.max()`, `.min()`.

### Observation #1

- The index has changed to team names.
- In general, the new row labels are the *group labels* (the thing that is used to determine if two rows were in same group).

In [ ]:
salaries

In [ ]:
salaries.groupby('Team').sum()

### Observation #2

- The `'Position'` and `'Team'` columns have disappeared. Why?

In [ ]:
salaries.groupby('Team').sum()

### Disappearing columns ‚ú®üêáüé©  

- The aggregation method is applied to each column.
- If it doesn't make sense to apply it to a particular column, that column will disappear.
- Example: We can't sum strings, like in the `'Position'` column.
- Surprising example: we *can* `max()` strings. How?

In [ ]:
salaries.groupby('Team').max() # Can you guess how the max position is determined?

### Other aggregation methods

- Aggregation methods work on arrays/lists/Series and return a single number.
- The most common ones are `.count()`, `.sum()`, `.mean()`, `.median()`, `.max()`, and `.min()`.

In [ ]:
salaries.groupby('Team').count()

In [ ]:
salaries.groupby('Team').mean()

### Question: Which team had the highest payroll?

In [ ]:
...

### Question: How many players play each position?

In [ ]:
...

### Aside: Better column names?

To rename a column:

1. Add a new column with `.assign` containing the same values as the old column(s).
2. Drop the old column(s) with `.drop(columns=list_of_column_labels)`.

In [ ]:
position_counts = salaries.groupby('Position').count()
position_counts

In [ ]:
position_counts = position_counts.assign(Count=position_counts.get('Team')).drop(columns=['Team', 'Salary'])
position_counts

## Example: IMDb Dataset üéûÔ∏è

<center>
<img width=80% src="images/imdb.png"/>
</center>

In [ ]:
imdb = bpd.read_csv('data/imdb.csv').set_index('Title').sort_values(by='Rating')
imdb

### Question: How many movies appear from each decade?

In [ ]:
imdb.groupby('Decade').count()

In [ ]:
imdb.groupby('Decade').count().plot(y='Year');

### Question: What was the highest rated movie of the 1990's?

Let's try and do this two different ways.

#### Without grouping

In [ ]:
imdb[imdb.get('Decade') == 1990].sort_values('Rating', ascending=False).index[0]

#### With grouping

In [ ]:
imdb.reset_index().groupby('Decade').max()

- It turns out that this method **does not** yield the correct answer. 
- When we use an aggregation function (e.g. `.max`), aggregation is done to each column individually. 
- While it's true that the highest rated movie from the 1990s has a rating of 9.2, that movie is **not** Unforgiven ‚Äì instead, Unforgiven is the movie that's the latest in the alphabet among all movies from the 1990s.
- Grouping is not helpful here.

## Challenge Problems

We won't cover these problems in class, but they're here for you to practice with some harder examples. To access the solutions, you'll either need to
1. Watch [this solution walkthrough video](https://youtu.be/xg7rnjWnZ48) or
2. Find [written solutions on Campuswire](https://campuswire.com/c/GF871D922/feed) on Monday.

Before accessing the solutions, **make sure to try these problems on your own** ‚Äì they're great prep for homeworks and projects!

### Question: How many years have more than 3 movies rated above 8.5?

In [ ]:
...

#### Aside: Using `.sum()` on a boolean array

- Summing a boolean array gives a count of the number of `True` elements because Python treats `True` as 1 and `False` as 0. 
- Can you use that fact here?

### Question: Out of the years with more than 3 movies, which had the highest average rating?

In [ ]:
...

### Question: Which year had the longest movie titles, on average?

**Hint:** Use `.str.len()` on the column or index that contains the names of the movies.

In [ ]:
...

### Question: What is the average rating of movies from years that had at least 3 movies in the Top 250?

In [ ]:
...

## Summary

### Summary

- We can write queries that involve multiple conditions, as long as we:
    - Put parentheses around all conditions.
    - Separate conditions using `&` if you require all to be true, or `|` if you require at least one to be true.
- The method call `df.groupby(column_name).name_of_method()` **aggregates** all rows with the same value for `column_name` into a single row in the resulting table, according to the aggregation method `name_of_method`.
    - Aggregation methods we've seen include `.count()`, `.sum()`, `.mean()`, `.median()`, `.max()`, and `.min()`.
- **Next time:** A picture is worth a 1000 words ‚Äì it's time to visualize!